#contenedor {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: $grande;
  .cajas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen {
    grid-area: "imagen";

    img {
      width: 100%;
    }
  }
  .texto {
    grid-area: "texto";
    grid p {
      text-align: center;
      margin: auto 0;
    }
  }
  @include tablet {
    grid-template-columns: repeat(1, 1fr);
    .cajas {
      &:nth-child(1) {
        order: -1;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(2) {
        order: 4;
      }
      &:nth-child(4) {
        order: 3;
      }
      &:nth-child(5) {
        order: 5;
      }
      &:nth-child(6) {
        order: 6;
      }
      &:nth-child(7) {
        order: 8;
      }
      &:nth-child(8) {
        order: 7;
      }
    }
  }
}
///////////////////////////////////////////////
//CONTENIDO GAME LIST
.contenido-gameList {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 2rem;
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include tablet {
    grid-template-columns: 1fr;
  }

  .game {
    background-color: #32383e;
    border-radius: 1rem;
    &:hover {
      transform: scale(1.035);
      transition: transform 0.2s linear;
    }
    // padding: 1rem;
    .game-imagen {
      width: 100%;

      img {
        width: 100%;
      }
    }
    .game-info {
      padding: 0 1rem 0.5rem 1rem;
      h3 {
        margin: 0;
        background-color: $n-claro;
        text-align: center;
        border-radius: 1rem;
        color: $naranja;
      }
      p {
        color: $blanco;
        strong {
          color: $naranja;
        }
      }
      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        color: white;
        display: block;
        padding: 10px;
        text-align: center;
        background-color: $naranja;
        border-radius: 3rem;
        &:hover {
          background-color: lighten($naranja, $amount: 10);
          transition: background-color 0.3s linear;
        }
      }
    }
  }
}
.aviso-contenido {
  max-width: 100%;
  padding: 1rem;
  background-color: $naranja;
  .aviso {
    margin: 0;
    color: $blanco;
    text-align: center;
    font-size: 30px;
  }
}

.brillo {
  cursor: pointer;
  i {
    color: white;
    font-size: 20px;
  }
  &:hover {
    i {
      // color: lighten($naranja, $amount: 5);
      transform: scale(1.15);
      color: $naranja;
      transition: all 0.3s ease;
    }
  }
}
div.btn-scroll {
  right: calc(50vw - (67px / 2));
  z-index: 1000;
  display: none;
  background-color: $naranja;
  position: fixed;
  // width: auto;
  border-radius: 50%;
  margin: auto;
  padding: 0.75rem;
  bottom: 1rem;
  &:hover {
    background-color: lighten($naranja, $amount: 5);
    transform: scale(1.05);
    i {
      color: white;
    }
  }
  i {
    font-size: 2.5rem;
    color: $blanco;
  }
  @include telefono {
    padding: 0.3rem;
    i {
      font-size: 16px;
    }
  }
  @include tablet {
    padding: 0.5rem;
    i {
      font-size: 28px;
    }
  }
}
.cambio-tema {
  background-color: #ffff;
  transition: background-color 500ms ease;
}
