#header {
  min-height: auto;
  width: 100%;
  background-color: $n-claro;
  border-bottom: 0.5px solid rgb(41, 41, 41);
}
.navegacion {
  position: fixed;
  top: 0;
  background-color: $negro;
  width: 100%;
  min-height: 6.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 1px 0px 0px #5f5d5d;
  gap: 5rem;
  align-items: center;

  .enlaces {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $grande;
    h1 {
      margin: 0;
      color: $naranja;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: $blanco;
      font-size: 20px;
      &:hover {
        color: darken($blanco, $amount: 30);
      }
    }
  }
  .div-buscador {
    display: flex;
    align-items: center;
    height: 6.25rem;
    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      input {
        max-width: 300px;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 5px;
        color: black;
      }
    }
  }

  @include desktop {
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    .enlaces {
      margin-top: $estandar;
    }
    .div-buscador {
      form {
        input {
          width: 500px;
        }
      }
    }
  }
  @include tablet {
    .enlaces {
      gap: 20px;
      flex-direction: column;
    }
    .div-buscador {
      form {
        input {
          width: 300px;
        }
      }
    }
  }
  @include telefono {
    .div-buscador {
      form {
        input {
          width: 200px;
        }
      }
    }
  }
}

.contenedor-svg {
  margin-right: 10px;
  svg {
    cursor: pointer;
    height: $poco + 0.3rem;
    color: $blanco;
  }
}
.bienvenida {
  border-bottom: 2px solid $n-claro;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  flex-grow: 1;
  // height: 100%;
  // width: 100%;
  h2 {
    color: $naranja;
    font-size: 40px;
  }
  p {
    color: darken($blanco, $amount: 10);
    font-size: 20px;
    margin-top: 0;
  }
  @include desktop {
    margin-top: 150px;
  }
  @include tablet {
    margin-top: 240px;
    h2 {
      span {
        display: none;
      }
    }
  }
  @include telefono {
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
  }
}
