@import "./utilidades/globales";
@import "./utilidades/normalize";
@import "./utilidades/mixins";
@import "./layout/header";
@import "./layout/contenedor";
@import "./layout/footer";
@import "./layout/aside";
html {
  box-sizing: border-box;
  height: 100vh;
  background-color: $n-claro;
}
body {
  font-family: $global;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5625rem;
}
p {
  color: #ccc;
}
